.form__button--style{
box-shadow: 0 .2rem .2rem 0 rgba(0, 116, 212, 0.06), 0 .5rem .6rem 0 rgba(0, 116, 212, 0.15), 0 1.3rem 1.5rem 0 rgba(0, 116, 212, 0.24), 0 4.3rem 5.1rem 0 rgba(0, 116, 212, 0.2);
border-radius: .8rem;
background: #0074d4;
}