.catalog__button {
    @include font_w_s_h (600, 1.6rem, 140%);
    color: #ffffff;
    text-align: center;
    border-radius: .8rem;
    padding: 1.85rem 3.8rem 2.25rem 3.8rem;
    box-shadow: 0 .2rem .2rem 0 rgba(0, 116, 212, 0.06), 0 .5rem .6rem 0 rgba(0, 116, 212, 0.15), 0 1.3rem 1.5rem 0 rgba(0, 116, 212, 0.24), 0 4.3rem 5.1rem 0 rgba(0, 116, 212, 0.2);
    background: #0074d4;
    display: none;
}
