.header__button {
    @include font_w_s_h(500, 1.6rem, 140%);
    padding: 1.35rem 2.85rem 1.55rem 2.85rem;
    border-radius: 0.8rem;
    background: #f3f4f7;
}

@media (max-width: 48em) {
    .header__button {
      display: none;
    }
}