.form__text {
    display: flex;
    @include font(300, 1.8rem, 123%);
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: .5rem;
        border: .1rem solid #6f7487;
        background: #576077;
        flex-shrink: 0;
        cursor: pointer;
    }
    span {
        margin-left: 1.8rem;
    }
}

@media (max-width: 48em) {
    .form__text {
        align-items: center;
        max-width: 44.2rem;
        font-size: 2.4rem;

        &::before {
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            border: .2rem solid #6f7487;
        }

        span {
            display: block;
        }
    }
}