.drive__button {
  @include font(600, 1.8rem, 140%);
  padding: 2.4rem 4.95rem 3rem 4.95rem;
}

@media (max-width: 48em) {
  .drive__button {
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .drive__text {
  .drive__button {
    font-size: 3.2rem;
    padding: 4.8rem 9.9rem 6rem 9.9rem;
    border-radius: 1.6rem;
  }
}
}