.form__wrapper--style {
    background: url("../img/form/BG-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    box-shadow: 0 3.6rem 8.4rem -2.4rem rgba(43, 51, 80, 0.5);
    color: #ffffff;
}