.slider {
    &__back-mobile {
        display: none;
    }
}

@media (max-width: 48em) {
.slider {
    &__back-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }
}
}