.drive__wrapper {
  width: 180rem;
  margin: 0 auto;
    .container {
      // display: flex;
      // justify-content: space-between;
      position: relative;
    }
}

@media (max-width: 48em) {
  .drive__wrapper {
    width: 100%;
    padding-top: 10rem;
  }
}