.drive__wrapper {
  width: 180rem;
  margin: 0 auto;
    .container {
      position: relative;
    }
}

@media (max-width: 48em) {
  .drive__wrapper {
    width: 100%;
    padding-top: 10rem;
    position: relative;

    .container {
      position: unset;
    }
  }
}