@mixin font_w_s_h ($width, $size, $heigh) {
    font-weight: $width;
    font-size: $size;
    line-height: $heigh;
}

@mixin flex_center {
    display: flex;
    align-items: center;
}

@mixin flex_sb {
    display: flex;
    justify-content: space-between;
}