.header__navbar-link {
    @include font_w_s_h(500, 1.6rem, 140%);
    color: $first_color;
}

.header__navbar-link:not(:last-child) {
    margin-right: 3.4rem;
}

@media (max-width: 48em) {
    .header__navbar-link {
      display: none;
    }
}