.footer__wrap {
    width: 100%;
    padding-top: 6.5rem;
    padding-bottom: 6.6rem;
    background: #191e32;
    color: #e7eaef;
    .container {
        max-width: 114.9rem;
        margin: 0 auto;
        display: flex;
    }
    a {
        color: inherit;
    }
}

@media (max-width: 48em) {
    .footer__wrap {
        padding-top: 8.2rem;
        padding-bottom: 7.6rem;
        font-size: 3rem;
        padding-right: 10.2rem;
        padding-left: 3.2rem;
        .container {
            max-width: 100%;
            flex-direction: column;
            position: relative;
            padding-top: 11.4rem;
            padding-left: 0;
            padding-right: 0;
        }
    }
}