.footer__wrap {
    width: 100%;
    padding-top: 6.5rem;
    padding-bottom: 6.6rem;
    background: #191e32;
    color: #e7eaef;
    .container {
        max-width: 114.9rem;
        margin: 0 auto;
        display: flex;
    }
    a {
        color: inherit;
    }
}