.drive__main-img {
    width: 59.5rem;
    height: 57.1rem;
    position: absolute;
    bottom: 3.1rem;
    right: -6rem;
}

@media (max-width: 48em) {
    .drive__main-img{
        width: 60.6rem;
        height: 58.2rem;
        bottom: 4.2rem;
        right: 3rem;
}
}